.t-curtain-closed {
    position: fixed;
    top: 0;
    right: -40em;
    width: 32em;
    height: 100%;
    transition: transform 0.4s ease;
    z-index: 2;
}

.t-curtain-open {
    transform: translateX(-40em); /* Move the menu to the screen */
}
